<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.

  Dashing.widget_base_dimensions = [310, 260]
  Dashing.numColumns = 6
});
</script>


<% content_for :title do %>Welcome to Wing Headquarters<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
  <div data-id="image" data-view="Image" data-title="McChord Banner" data-image="/wingbigbanner.jpg"></div>
</li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
  <div data-view="Clock"></div>
  <i class="far fa-clock icon-background"></i>
</li>
<li data-row="2" data-col="6" data-sizex="1" data-sizey="3">
<div data-id="iframeId2" data-view="Iframe" data-url="https://widget.airnow.gov/aq-dial-widget/?latitude=47.1234539&longitude=-122.4826255"></div>
</li>

<li data-row="2" data-col="1" data-sizex="5" data-sizey="3">
<div data-id="iframeId3" data-view="Iframe" data-url="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&showTz=0&showCalendars=0&showTabs=0&showPrint=0&showDate=0&showNav=0&title=SW%20Group%20Calendar&mode=AGENDA&src=Y183NDI1ZjllYWM1MTYyMmIxMTYzZDI5YTNmODM0Yzg3NDk2YzQ2NzVjOWFhYWJiN2IzYTQzOWUzM2E2NmQ2MTk3QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23D50000" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></div>
</li>

</ul>
</div>
