<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [310, 260]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>Civil Air Patrol Washington Wing<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
  <div data-id="image" data-view="Image" data-title="McChord Banner" data-image="/mcchordbigbanner.jpg"></div>
</li>
  <li data-row="1 " data-col="5" data-sizex="1" data-sizey="1">
  <div data-view="Clock"></div>
  <i class="far fa-clock icon-background"></i>
</li>


</ul>
</div>
